<h2>Create Celebrity</h2>
<form action="/celebrities/create" method = "POST" >
<label for= "name"> NAME</label>
<input type = "text" name = "name" id= "name" value="" placeholder="Name of Celebrity">

<label for= "Occupation"> Occupation</label>
<input type = "text" name = "occupation" id= "occupation" value="" placeholder="Occupation of Celebrity">

<label for= "catchPhrase"> Catch Phrase</label>
<input type = "text" name = "catchPhrase" id= "catch-phrase" value="" placeholder="Catch Phrase of Celebrity">

<button type = "submit">Create new Celebrity</button>
</form>